#home-container {
  background-color: black;
  height: 100vh;
  padding: 10px;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 20px 0px;
}

#main-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  max-height: 70%;
  align-items: center;
  justify-content: center;
}

#operation-table-container {
  flex: 2;
  border-radius: 10px !important;
  padding: 5px;
  background-color: var(--p-datatable-header-cell-background);
  max-width: 70rem;

  h1 {
    color: white;
    text-align: center;
    margin: 0px auto;
  }

  #new-operation-button {
    position: absolute;
  }
}

#chart-container {
  flex: 0.3;
  border-radius: 10px !important;
  padding: 5px;
  background-color: var(--p-datatable-header-cell-background);
}

button.dialogButton {
  background-color: white !important;
  color: black !important;
}
