<p-toolbar [style]="{ 'border-radius': '0', padding: '1rem 1rem 1rem 1.5rem' }">
  <p-button
    icon="pi pi-home"
    class="mr-2"
    label="Home"
    text
    severity="contrast"
    [raised]="true"
    (onClick)="navigateHome()"
  >
  </p-button>
  <ng-template #start>
    <p-button
      label="New Category"
      icon="pi pi-file-plus"
      class="mr-2"
      text
      severity="contrast"
      (onClick)="openCategoryModal()"
      [raised]="true"
    />
  </ng-template>
</p-toolbar>

<router-outlet></router-outlet>

<p-dialog
  header="New Category"
  [modal]="true"
  [(visible)]="categoryModalVisible"
  [style]="{ width: '25rem' }"
>
  <form [formGroup]="newCategoryForm">
    <div class="input">
      <p-floatlabel>
        <label for="name" class="form-label">Name</label>
        <input pInputText formControlName="name" type="text" id="name" />
      </p-floatlabel>
      @if(isFieldInvalid("name")) {
      <small class="form-error">Field is required</small>
      }
    </div>
    <div class="flex justify-end gap-2">
      <p-button
        label="Cancel"
        severity="secondary"
        (onClick)="closeCategoryModal()"
      />
      <p-button label="Save" (onClick)="saveCategory()" />
    </div>
  </form>
</p-dialog>
