<div id="login-component">
  <div id="background"></div>
  <p id="title">Spending Tracker</p>
  <form
    [formGroup]="form"
    id="login-form"
    class="form"
    action=""
    (submit)="submitForm()"
  >
    <p id="login-title">Log in</p>

    <div class="input">
      <p-floatlabel>
        <label for="username" class="form-label">Username</label>
        <input
          pInputText
          formControlName="username"
          type="text"
          id="username"
        />
      </p-floatlabel>
      @if(isFieldValid("username")) {
      <small class="form-error">Field is required</small>
      }
    </div>

    <div class="input">
      <p-floatlabel>
        <label for="password" class="form-label">Password</label>
        <input
          pInputText
          formControlName="password"
          type="password"
          id="password"
        />
      </p-floatlabel>
      @if(isFieldValid("password")) {
      <small class="form-error">Field is required</small>
      }
    </div>

    <p-button type="button" id="login-form-button" (click)="submitForm()">
      Submit
    </p-button>

    <p
      [routerLink]="['/signup']"
      routerLinkActive="router-link-active"
      id="login-signup"
    >
      No account? Sign up here
    </p>
  </form>
</div>
