<div id="login-component">
  <div id="background"></div>
  <p id="title">Spending Tracker</p>
  <form
    [formGroup]="form"
    id="login-form"
    class="form"
    action=""
    (submit)="submitForm()"
  >
    <p id="login-title">Sign up</p>

    <label for="name" class="form-label">Name</label>
    <input formControlName="name" type="text" id="name" class="form-control" />
    @if(isFieldValid("name")) {
    <small class="form-error">Field is required</small>
    }

    <label for="username" class="form-label">Username</label>
    <input
      formControlName="username"
      type="text"
      id="username"
      class="form-control"
    />
    @if(isFieldValid("username")) {
    <small class="form-error">Field is required</small>
    }

    <label for="password" class="form-label">Password</label>
    <input
      formControlName="password"
      type="password"
      id="password"
      class="form-control"
    />
    @if(isFieldValid("password")) {
    <small class="form-error">Field is required</small>
    }

    <label for="repeat-password" class="form-label">Repeat Password</label>
    <input type="password" id="repeat-password" class="form-control" />

    <button
      type="button"
      id="login-form-button"
      class="btn"
      (click)="submitForm()"
    >
      Submit
    </button>

    <p
      [routerLink]="['/login']"
      routerLinkActive="router-link-active"
      id="login-signup"
    >
      Already have an account? Log in here
    </p>
  </form>
</div>
