/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";

@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/Roboto-VariableFont_wdth\,wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@import "ngx-toastr/toastr";
